/*--------------------------------------global---------------------------------------------*/
body{
    font-family: Roboto, sans-serif;
    background-color: #D6EAF8;
    padding: 0;
    margin: 0;
}

h2{
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    color: #191970;
    padding-bottom: 40px;
    font-size: 36px;
}
/*----------------------------------------------------------------container-----------*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-top: 70px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*-------------------------------------------------Header------------------------------------*/
a .navbar-brand {
    color: #fff!important;
}
 


#showcase .bg-image{
    background:linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url(/static/images/students.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: white;
    font-weight: bold;
    
}

#showcase .bg-image h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    padding-top: 9rem;
}

/*----------------------------------------Main---------------------------------------*/


.barchart-info {
    background-color: #ADDFFF;
}

.sidebar {
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1a75ff;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #818181;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #1a75ff;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #005ce6;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}